*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    padding: 5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.main-box{
    border: 1px solid rgb(0 178 136);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    transition: 1s ease;
}
.main-box:hover{
    transform: scale(1.01);
}
.container-headerbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0 1.5rem 3rem;
}
.head-activ{
    background-color: rgb(0 178 136);
    color: white;
}
.title{

}
.name-card{

}
.price{

}
.container-list{
    padding: 5px 3rem
}
.list{
    margin-left: 16px;
}
.list-child{
    margin-bottom: 1.5rem;
}
.list-child::marker{
    color: rgb(0 178 136);
}
.btn{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(0 178 136);
    color: rgb(0 178 136);
    margin: 1rem 3rem;
    background-color: white;
    transition: 1s ease;
}
.btn:hover{
    background-color: rgb(0 178 136);
    color: white;
}
.btn-activ{
    background-color: rgb(0 178 136);
    color: white;
}
.btn-activ:hover{
    background-color: white;
    color: rgb(0 178 136);
}
@media (max-width : 768px) {
    .container-list{
            padding: 5px 1rem;
    }
    .container{
        padding: 1rem;
    }
}
@media (max-width : 425px) {
    /* .container-list{
        padding: 5px 5px;
    } */
    .container-headerbox{
        padding: 1.5rem 0 1.5rem 20px;
        font-size: 13px;
    }
    .main-box{
        width: 100%;
    }
    .container{
        flex-wrap: wrap;
    }
}